[submodule "mixer/MixerControl"]
	path = mixer/MixerControl
	url = https://github.com/IUNO-TDM/MixerControl.git
	branch = testing
[submodule "payment/PaymentService"]
	path = payment/PaymentService
	url = https://github.com/IUNO-TDM/PaymentService.git
	branch = testing
[submodule "pump/PumpControl"]
	path = pump/PumpControl
	url = https://github.com/IUNO-TDM/PumpControl.git
	branch = testing
